@{
    ViewBag.Title = "Candidato";
}

<div class="jumbotron">
    <h2>Candidato</h2>
    <p>Os candidatos devem ser cadastrados em uma vaga, e vinculado as tecnologias que ele tem conhecimento</p>
</div>

<h3>GET - Buscar Candidatos por Vaga</h3>
<p> Retorna a lista de todas os candidatos vinculado a vaga</p>
<p> Parâmetro: ID da vaga</p>
<p><strong>api/Candidato/BuscarPorVaga</strong></p>
<br />

<h3>GET - Buscar Por ID</h3>
<p> Retorna a tecnologia por ID</p>
<p> Parâmetro: ID</p>
<p><strong>api/Candidato/BuscaPorId</strong></p>
<br />

<h3>POST - Cadastrar</h3>
<p> Cadastra o Candidato</p>
<p> Parâmetro: Objeto</p>
<p><strong>api/Candidato/Cadastrar</strong></p>
<br />

<h3>POST - Excluir</h3>
<p> Exclui o candidato</p>
<p> Parâmetro: Objeto</p>
<p><strong>api/Candidato/Excluir</strong></p>
<br />
