@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2> Exercício 3 - Avaliação TécnicaASP.NET</h2>
    <p class="lead">Essa API foi desenvolvida por Rodrigo Nabas Teruel, conforme solicitado no exercício 3 - DB1, para o RH fazer as triagens dos currículos.

    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tecnologias</h2>
        <p>Deve se cadastrar todas as tecnologias que a empresa trabalha</p>
    </div>
    <div class="col-md-4">
        <h2>Vagas</h2>
        <p>Deve se cadastrar todas as vagas que estão em aberto na empresa</p>
    </div>
    <div class="col-md-4">
        <h2>Candidatos</h2>
        <p>Os candidatos devem ser cadastrados em uma vaga, e vinculado as tecnologias que ele tem conhecimento</p>
    </div>
</div>