@{
    ViewBag.Title = "Tecnologia";
}

<div class="jumbotron">
    <h2>Tecnologias</h2>
    <p>Deve se cadastrar todas as tecnologias que a empresa trabalha</p>
</div>

<h3>GET - Buscar Todos</h3>
<p> Retorna a lista de todas as tecnologias</p>
<p><strong>api/Tecnologia/BuscarTodos</strong></p>
<br/>

<h3>GET - Buscar Todos Ativos</h3>
<p> Retorna a lista de todas as tecnologias que estão ativas</p>
<p><strong>api/Tecnologia/BuscarTodosAtivos</strong></p>
<br />

<h3>GET - Buscar Por ID</h3>
<p> Retorna a tecnologia por ID</p>
<p> Parâmetro: ID</p>
<p><strong>api/Tecnologia/BuscaPorId</strong></p>
<br />

<h3>POST - Cadastrar</h3>
<p> Cadastra a Tecnologia</p>
<p> Parâmetro: Objeto</p>
<p><strong>api/Tecnologia/Cadastrar</strong></p>
<br />

<h3>POST - Editar</h3>
<p> Edita a Tecnologia</p>
<p> Parâmetro: Objeto</p>
<p><strong>api/Tecnologia/Editar</strong></p>
<br />

<h3>POST - Excluir</h3>
<p> Altera o status da tecnologia para false</p>
<p> Parâmetro: Objeto</p>
<p><strong>api/Tecnologia/Excluir</strong></p>
<br />
