@{
    ViewBag.Title = "Vaga";
}

<div class="jumbotron">
    <h2>Vagas</h2>
    <p>Deve se cadastrar todas as vagas que estão em aberto na empresa</p>
</div>

<h3>GET - Buscar Todos Abertas</h3>
<p> Retorna a lista de todas as vagas em aberto</p>
<p><strong>api/Vaga/BuscarTodasAbertas</strong></p>
<br />

<h3>GET - Buscar Todos Encerradas</h3>
<p> Retorna a lista de todas as vagas encerradas</p>
<p><strong>api/Vaga/BuscarTodasEncerradas</strong></p>
<br />

<h3>GET - Buscar Por ID</h3>
<p> Retorna a vaga por ID</p>
<p> Parâmetro: ID</p>
<p><strong>api/Vaga/BuscaPorId</strong></p>
<br />

<h3>POST - Cadastrar</h3>
<p> Cadastra a vaga</p>
<p> Parâmetro: Objeto</p>
<p><strong>api/Vaga/Cadastrar</strong></p>
<br />

<h3>POST - Editar</h3>
<p> Edita a vaga</p>
<p> Parâmetro: Objeto</p>
<p><strong>api/Vaga/Editar</strong></p>
<br />

<h3>POST - Excluir</h3>
<p> Exclui a vaga</p>
<p> Parâmetro: Objeto</p>
<p><strong>api/Vaga/Excluir</strong></p>
<br />
